.card-container{
    display: flex;
    
}


.card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    color: #e8e8e8;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .content .heading {
    font-weight: 700;
    font-size: 32px;
  }
  
  .content .para {
    line-height: 1.5;
  }
  
  .content .btn {
    color: #e8e8e8;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background: linear-gradient(-45deg, #0d7be2 0%, #0f1fff 100% );
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  

  
  .card:hover::before {
    height: 100%;
  }
  
  .card:hover {
    box-shadow: none;
  }
  
  .card:hover .btn {
    color: #212121;
    background: #e8e8e8;
  }
  
  .content .btn:hover {
    outline: 2px solid #e8e8e8;
    background: transparent;
    color: #e8e8e8;
  }
  
  .content .btn:active {
    box-shadow: none;
  }
  


  @media only screen and (max-width: 600px) {
    .card-container{
      display: flex;
      flex-direction: column;
      
  }
  
    .card{
      width: 300px;
      font-size: 75%;
      margin:10px;
      padding: 25px;
      background-color: var(--secondary);
      


    }
    
}


  @media only screen and (min-width: 800px) {
    
.card {
  width: 320px;
  padding: 32px;
}
}